/* 
.top{
    display: flex;
    padding-top: 1%;
    flex-direction: row;
    overflow-x: hidden;
    margin-top: 0;
    align-items: center;
    justify-content: space-around;
    font-weight: bolder;
    font-family: Times;
   
}

.logo{
    width: 8%;
    height: 5%;
    margin-left: 1%;
    
}

.logo3{
    width: 8%;
    height: 5%;
    margin-right: 1%;
}
.cllgname{
    display: inline block;
    padding-top: 2%;
    flex-direction: column;
}


.heading1{
    font-size: 28px;
    text-align: center;
    margin-left: 140px;
    padding-right: 30px;
    padding-bottom: 0px;
    color: #011c38;
    font-family: Times;
    
}
.heading2{
    text-align: center;
    color: #011c38;
    font-family: Times;
}
.heading3{
    text-align: center;
    color: #011c38;
    font-family: Times;
}
.header{
    
    box-sizing: border-box;
    border-radius: 30px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: rgb(221, 232, 249);
    padding: 0.01%;
    margin: 20px;
    text-align: center;
}
.navbar{
    display: flex;
    margin:0%;
    padding-left: 3% ;
    padding-right: 1% ;
    background-color: #011c38 ;
  
    justify-content: space-evenly;
    border-radius: 1em ;
    height: 3rem;
    color: white;
} */
/* 
.navbar a{
    color: white;
    font-size: 1.1rem;
    font-weight: normal;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
    font-size: larger;
    font-family:fansong;
    flex-direction: row;
    text-decoration: none;
}
.navbar ul{
    color: white;
    
} */
/* .list{
    color: #f1f1f1;
    list-style-type: none;
} */
/* .navbar a:hover{
    color: rgb(171, 173, 202)
} */
   
/* .dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  } */
/*   
  .dropdown {
    position: relative;
    display: inline-block;
  } */
  
  /* .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 1em;
    padding: 1%;
    margin: 1%;
    
  } */
  
/* .dropdown-content a {
    color: black;
    padding: 2%;
    margin: 2%;
    text-decoration: none;
    display: inline-block;
  } */
  
  /* .dropdown-content a:hover {
    background-color: #f1f1f1
}
   */
  /* .dropdown:hover .dropdown-content {
    display: block;
  } */

/* .research-contributors{
    margin-top: 5%;
}
.research-main-container{
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;

} */
/* .research-container-one{
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgb(183, 204, 249);
    background-color: rgb(249, 250, 252);
    border-radius: 5px;
    width: 350px;
    height: 200px;
    margin-top: 8%;
    margin-left: 10%;
   
} */
/* .research-container-two{
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgb(183, 204, 249);
    background-color: rgb(249, 250, 252);
    border-radius: 5px;
    width: 350px;
    height: 200px; 
    
}
 .research-container-three{
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgb(183, 204, 249);
    background-color: rgb(249, 250, 252);
    border-radius: 5px;
    width: 350px;
    height: 200px;
    margin-top: 8%;
    margin-right: 10%;
    
    
} */

.main-div-phd{
    border: 1px solid #011c38;
    margin-left: 6%;
    margin-right: 6%;
    border-radius: 4px;
}

.phd-heading-main{
    border: transparent;
    margin-left: 0%;
    margin-right: 0%;
}
.phd-heading{
    height: 5vh;
    background-color: #8e99a535;
    color: #011c38;
    font-weight: bold;
    font-size: 130%;
    text-align: center;
    padding-top: 8px;
    border-radius: 4px;
}
.phd-para{
    font-size: 105%;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 1%;
    padding-right: 1%;
}
.phd-table{
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3%;
}
.phd-table th{
    font-weight: bold;
    font-size: 100%;
    text-align: center;
    height: 2vh;
}
.phd-table td{
    padding-bottom: 1%;
    padding-top: 1%;
    padding-right: 1%;
    padding-left: 1%;
}